{% extends "base.html.twig" %}

{% block title %}my_project
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="mt-4">Créer un Ingrédient</h1>
		{{ form(form) }}
		</div>
	{% endblock %}
